@inject IAuthorizationService authService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>

    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />

</head>
<body>
    <h3 class="has-text-centered title">Admin Panel</h3>

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                    {
                        <p class="menu-label">Store Menu</p>
                        <ul class="menu-list">
                            <li><a asp-page="/Admin/Index">Products</a></li>
                            <li><a asp-page="/Admin/OrderManagement">Order Management</a></li>
                            <li><a asp-page="/Admin/Stock">Stock</a></li>
                        </ul>
                    }
                    @if ((await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <p class="menu-label">Admin Menu</p>
                        <ul class="menu-list">
                            <li><a asp-page="/Admin/ConfigureUsers">Configure Users</a></li>
                        </ul>
                    }
                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Back to Main</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
